[Desktop Entry]
Version=1.5
Name={0}
Type=Application
Icon={1}
Exec={2}
GenericName=Emulated Nintendo Switch Application
Comment=Running on Ryujinx
Terminal=false
Categories=Game;Emulator;
StartupWMClass=Ryujinx
PrefersNonDefaultGPU=true
